.wrap {
  overflow-x: auto;
  margin: 40px 0;
}

.table {
  width: 100%;
  border-collapse: collapse;
  min-width: 600px;
}
.table tr:last-child {
  font-size: 20px;
  font-weight: 600;
}
.table th,
.table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: center;
  font-size: 16px;
}
.total {
  text-align: right !important;
}
.table th {
  background-color: #f5f5f5;
  font-weight: 600;
}

.quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.quantity button {
  border: none;
  background-color: var(--yellow-color);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  padding: 5px 8px;
}
.quantity button path {
  fill: var(--black-color);
}

.quantity span {
  width: 30px;
  text-align: center;
}

.removeBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
}
.removeBtn svg path:last-child {
  fill: var(--error-color);
}

.removeBtn:hover {
  opacity: 0.8;
}

.empty {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 3rem;
  color: #666;
}
.checkout {
  text-align: right;
  margin-top: 40px;
}
@media (max-width: 767px) {
  .cartTable {
    min-width: unset;
  }
  .cartTable th,
  .cartTable td {
    padding: 0.5rem;
    font-size: 0.9rem;
  }
  .quantity button {
    width: 24px;
    height: 24px;
  }
}
