.features {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  row-gap: 20px;
  flex-wrap: wrap;
  padding: 16px;
  margin-top: 30px;
}
.features li {
  padding: 18px 16px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.features li p {
  color: var(--primary-color);
}
.features li p:first-child {
  text-transform: uppercase;
  color: var(--secondary-color);
  padding-bottom: 5px;
}

@media (max-width: 991px) {
  .features {
    padding: 0;
    gap: 0;
    row-gap: 30px;
    margin-top: 24px;
  }
  .features li {
    width: 50%;
    padding: 0;
  }
}

@media (max-width: 767px) {
  .features {
    margin-top: 18px;
  }
  .features li {
    width: 100%;
  }
}
