.section {
  padding: 60px 0;
}

.section-content {
  max-width: 720px;
  margin: 0 auto;
}

.section-content h2 {
  padding-bottom: 10px;
}

.section-content p {
  color: var(--secondary-color);
  font-size: 18px;
  line-height: 1.4;
  font-weight: 400;
  text-align: center;
}

@media (max-width: 991px) {
  .section {
    padding: 48px 0;
  }
}
@media (max-width: 991px) {
  .section {
    padding: 32px 0;
  }
  .section-content {
    max-width: 100%;
  }
  .section-content p {
    font-size: 16px;
  }
}
